@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
@define-color workspacesbackground #9399b2;
@define-color workspacesbackgroundhover #7f849c;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
@define-color iconcolor #FFFFFF;

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    color: @textcolor1;
    border: none;
    border-radius: 0px;
    padding-left: 4px;
    padding-right: 2px;
}

window#waybar {
    background-color: rgba(49,50,68,0.85);
    /* border-bottom: 0px solid #ffffff; */
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    /* border-radius: 15px; */
    border: 0px;
    font-weight: bold;
    font-style: normal;
    color: @textcolor1;
}

#workspaces button {
    padding-left: 7px;
    padding-right: 7px;
    border: 0px;
    color: @textcolor1;
    transition: all 0.3s ease-in-out;
}


#workspaces button.active {
    color: @textcolor2;
    background: @workspacesbackground;
    /* min-width: 40px; */
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackgroundhover;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    /* border-radius: 10px; */
    opacity:0.8;
}

tooltip label {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    /* border-radius: 12px; */
    color:@textcolor2;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    /* border-radius: 15px; */
    font-weight: normal;
    font-style: normal;
}

#taskbar button {
    /* border-radius: 15px; */
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

 #custom-brave,
 #custom-browser,
 #custom-keybindings,
 #custom-outlook,
 #custom-filemanager,
 #custom-teams,
 #custom-chatgpt,
 #custom-calculator,
 #custom-windowsvm,
 #custom-cliphist,
 #custom-wallpaper,
 #custom-settings,
 #custom-wallpaper,
 #custom-system,



#clock {
    color: @textcolor1;
    /* border-radius: 15px; */
}

#pulseaudio {
    color: @textcolor2;
    /* border-radius: 15px; */
}

#pulseaudio.muted {
    color: @textcolor1;
}

#network {
}

#network.ethernet {
    color: @textcolor2;
}

#network.wifi {
    color: @textcolor2;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    color: @textcolor2;
}

#bluetooth.off {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: @textcolor2;
    border-radius: 15px;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
}

@keyframes blink {
    to {
        color: @textcolor2;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    /* background-color: #2980b9; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: #eb4d4b; */
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#network {
    /* background-color: #2980b9; */
}

#network.disconnected {
    /* background-color: #f53c3c; */
}
